*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #FADA7A;
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.box{
    width: 600px;
    height: 500px;
    background-color: #F5F0CD;
    border-radius: 30px;
} 
.image img{
    width: 700px;
    height: 700px;
}

button{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    margin-bottom: 15px;
    margin-right: 50px;
    display: flex;
    background-color: #643e10;
    font-size: 40px;
    align-items: center;
    justify-content: center;
    color: white;
    /* gap: 30px; */
} 

